./Primo Anno/Primo semestre/Controllo robusto e adattivo/Appunti Giorgo/CRA.rar
./Primo Anno/Primo semestre/Controllo robusto e adattivo/OneDrive_1_21-9-2021.zip
./Primo Anno/Primo semestre/Prototipazione Virtuale - Reds/Progetto Esame Final/Progetto PV - La Rossa.zip
./Primo Anno/Secondo Semestre/Machine and reinforcemente Learning/Assgnment/Progetto Finale/Papers/TeXmacs-1.99.20-installer.exe
./Primo Anno/Secondo Semestre/Metodi di Ottimizzazione di Big Data/Progetto MOBD 2020-2021/Progetto MOBD/bestClassifier.sav
./Primo Anno/Secondo Semestre/Metodi di Ottimizzazione di Big Data/Progetto MOBD 2020-2021/Progetto MOBD/CeciliaTroia.zip
./Primo Anno/Secondo Semestre/Metodi di Ottimizzazione di Big Data/ProgettoFinale/bestClassifier.sav
./Primo Anno/Secondo Semestre/Metodi di Ottimizzazione di Big Data/ProgettoMobd Giavomo/JupiterLab/final_Project/nuova_prova/best_pipeline2.sav
./Primo Anno/Secondo Semestre/Metodi di Ottimizzazione di Big Data/ProgettoMobd Giavomo/JupiterLab/final_Project/nuova_prova/Progetto_Finale/best_classificatore.sav
./Primo Anno/Secondo Semestre/Metodi di Ottimizzazione di Big Data/ProgettoMobd Giavomo/JupiterLab.rar
./Primo Anno/Secondo Semestre/Metodi di Ottimizzazione di Big Data/ProgettoMobd Giavomo/progetti/Progetto/Progetto_Finale/best_classificatore.sav
./Primo Anno/Secondo Semestre/Metodi di Ottimizzazione di Big Data/ProgettoMobd Giavomo/progetti/Progetto MOBD/Progetto_Finale/best_classificatore.sav
./Primo Anno/Secondo Semestre/Metodi di Ottimizzazione di Big Data/ProgettoMobd Giavomo/progetti.rar
./Primo Anno/Secondo Semestre/Ottimizzazione nei Sistemi di Controllo/OSC1/EserciziEsameVideo/HJB.mp4
./Primo Anno/Secondo Semestre/Ottimizzazione nei Sistemi di Controllo/OSC1/EserciziEsameVideo/LQ_A_TEMPODISCRETO.mp4
./Primo Anno/Secondo Semestre/Ottimizzazione nei Sistemi di Controllo/OSC1/EserciziEsameVideo/RL-TD.mp4
./Primo Anno/Secondo Semestre/Ottimizzazione nei Sistemi di Controllo/OSC1/EserciziEsameVideo/SISTEMA HAMILTONIANO.mp4
./Primo Anno/Secondo Semestre/Ottimizzazione nei Sistemi di Controllo/OSC1/Lezione/Slide+Audio/Lezione 15 parte 1/lezione15_parte1.mp3
./Primo Anno/Secondo Semestre/Ottimizzazione nei Sistemi di Controllo/OSC1/Lezione/Slide+Audio/Lezione 15 parte 2/lezione15_parte2.mp3
./Primo Anno/Primo semestre/Controllo robusto e adattivo/Appunti Giorgo/CRA.rar
./Primo Anno/Primo semestre/Controllo robusto e adattivo/OneDrive_1_21-9-2021.zip
./Primo Anno/Primo semestre/Prototipazione Virtuale - Reds/Progetto Esame Final/Progetto PV - La Rossa.zip
./Primo Anno/Secondo Semestre/Machine and reinforcemente Learning/Assgnment/Progetto Finale/Papers/TeXmacs-1.99.20-installer.exe
./Primo Anno/Secondo Semestre/Metodi di Ottimizzazione di Big Data/Progetto MOBD 2020-2021/Progetto MOBD/bestClassifier.sav
./Primo Anno/Secondo Semestre/Metodi di Ottimizzazione di Big Data/Progetto MOBD 2020-2021/Progetto MOBD/CeciliaTroia.zip
./Primo Anno/Secondo Semestre/Metodi di Ottimizzazione di Big Data/ProgettoFinale/bestClassifier.sav
./Primo Anno/Secondo Semestre/Metodi di Ottimizzazione di Big Data/ProgettoMobd Giavomo/JupiterLab/final_Project/nuova_prova/best_pipeline2.sav
./Primo Anno/Secondo Semestre/Metodi di Ottimizzazione di Big Data/ProgettoMobd Giavomo/JupiterLab/final_Project/nuova_prova/Progetto_Finale/best_classificatore.sav
./Primo Anno/Secondo Semestre/Metodi di Ottimizzazione di Big Data/ProgettoMobd Giavomo/JupiterLab.rar
./Primo Anno/Secondo Semestre/Metodi di Ottimizzazione di Big Data/ProgettoMobd Giavomo/progetti/Progetto/Progetto_Finale/best_classificatore.sav
./Primo Anno/Secondo Semestre/Metodi di Ottimizzazione di Big Data/ProgettoMobd Giavomo/progetti/Progetto MOBD/Progetto_Finale/best_classificatore.sav
./Primo Anno/Secondo Semestre/Metodi di Ottimizzazione di Big Data/ProgettoMobd Giavomo/progetti.rar
./Primo Anno/Secondo Semestre/Ottimizzazione nei Sistemi di Controllo/OSC1/EserciziEsameVideo/HJB.mp4
./Primo Anno/Secondo Semestre/Ottimizzazione nei Sistemi di Controllo/OSC1/EserciziEsameVideo/LQ_A_TEMPODISCRETO.mp4
./Primo Anno/Secondo Semestre/Ottimizzazione nei Sistemi di Controllo/OSC1/EserciziEsameVideo/RL-TD.mp4
./Primo Anno/Secondo Semestre/Ottimizzazione nei Sistemi di Controllo/OSC1/EserciziEsameVideo/SISTEMA HAMILTONIANO.mp4
./Primo Anno/Secondo Semestre/Ottimizzazione nei Sistemi di Controllo/OSC1/Lezione/Slide+Audio/Lezione 15 parte 1/lezione15_parte1.mp3
./Primo Anno/Secondo Semestre/Ottimizzazione nei Sistemi di Controllo/OSC1/Lezione/Slide+Audio/Lezione 15 parte 2/lezione15_parte2.mp3
*.rar
*.m4a
*.mp3
*.sav
*.exe
./Primo Anno/Primo semestre/Controllo robusto e adattivo/Appunti Giorgo/CRA.rar
./Primo Anno/Primo semestre/Controllo robusto e adattivo/OneDrive_1_21-9-2021.zip
./Primo Anno/Secondo Semestre/Machine and reinforcemente Learning/Assgnment/Progetto Finale/Papers/TeXmacs-1.99.20-installer.exe
./Primo Anno/Secondo Semestre/Metodi di Ottimizzazione di Big Data/Progetto MOBD 2020-2021/Progetto MOBD/bestClassifier.sav
./Primo Anno/Secondo Semestre/Metodi di Ottimizzazione di Big Data/Progetto MOBD 2020-2021/Progetto MOBD/CeciliaTroia.zip
./Primo Anno/Secondo Semestre/Metodi di Ottimizzazione di Big Data/ProgettoFinale/bestClassifier.sav
./Primo Anno/Secondo Semestre/Metodi di Ottimizzazione di Big Data/ProgettoMobd Giavomo/JupiterLab/final_Project/nuova_prova/best_pipeline2.sav
./Primo Anno/Secondo Semestre/Metodi di Ottimizzazione di Big Data/ProgettoMobd Giavomo/JupiterLab/final_Project/nuova_prova/Progetto_Finale/best_classificatore.sav
./Primo Anno/Secondo Semestre/Metodi di Ottimizzazione di Big Data/ProgettoMobd Giavomo/JupiterLab.rar
./Primo Anno/Secondo Semestre/Metodi di Ottimizzazione di Big Data/ProgettoMobd Giavomo/progetti/Progetto/Progetto_Finale/best_classificatore.sav
./Primo Anno/Secondo Semestre/Metodi di Ottimizzazione di Big Data/ProgettoMobd Giavomo/progetti/Progetto MOBD/Progetto_Finale/best_classificatore.sav
./Primo Anno/Secondo Semestre/Metodi di Ottimizzazione di Big Data/ProgettoMobd Giavomo/progetti.rar
./Primo Anno/Secondo Semestre/Ottimizzazione nei Sistemi di Controllo/OSC1/EserciziEsameVideo/HJB.mp4
./Primo Anno/Secondo Semestre/Ottimizzazione nei Sistemi di Controllo/OSC1/EserciziEsameVideo/LQ_A_TEMPODISCRETO.mp4
./Primo Anno/Secondo Semestre/Ottimizzazione nei Sistemi di Controllo/OSC1/EserciziEsameVideo/RL-TD.mp4
./Primo Anno/Secondo Semestre/Ottimizzazione nei Sistemi di Controllo/OSC1/EserciziEsameVideo/SISTEMA HAMILTONIANO.mp4
./Primo Anno/Secondo Semestre/Ottimizzazione nei Sistemi di Controllo/OSC1/Lezione/Slide+Audio/Lezione 15 parte 1/lezione15_parte1.mp3
./Primo Anno/Secondo Semestre/Ottimizzazione nei Sistemi di Controllo/OSC1/Lezione/Slide+Audio/Lezione 15 parte 2/lezione15_parte2.mp3
*.mp4
*.7z
*.zip
./Primo Anno/Primo semestre/Controllo robusto e adattivo/Appunti Giorgo/CRA.rar
./Primo Anno/Primo semestre/Controllo robusto e adattivo/OneDrive_1_21-9-2021.zip
./Primo Anno/Secondo Semestre/Machine and reinforcemente Learning/Assgnment/Progetto Finale/Papers/TeXmacs-1.99.20-installer.exe
./Primo Anno/Secondo Semestre/Metodi di Ottimizzazione di Big Data/Progetto MOBD 2020-2021/Progetto MOBD/bestClassifier.sav
./Primo Anno/Secondo Semestre/Metodi di Ottimizzazione di Big Data/Progetto MOBD 2020-2021/Progetto MOBD/CeciliaTroia.zip
./Primo Anno/Secondo Semestre/Metodi di Ottimizzazione di Big Data/ProgettoFinale/bestClassifier.sav
./Primo Anno/Secondo Semestre/Metodi di Ottimizzazione di Big Data/ProgettoMobd Giavomo/JupiterLab/final_Project/nuova_prova/best_pipeline2.sav
./Primo Anno/Secondo Semestre/Metodi di Ottimizzazione di Big Data/ProgettoMobd Giavomo/JupiterLab/final_Project/nuova_prova/Progetto_Finale/best_classificatore.sav
./Primo Anno/Secondo Semestre/Metodi di Ottimizzazione di Big Data/ProgettoMobd Giavomo/JupiterLab.rar
./Primo Anno/Secondo Semestre/Metodi di Ottimizzazione di Big Data/ProgettoMobd Giavomo/progetti/Progetto/Progetto_Finale/best_classificatore.sav
./Primo Anno/Secondo Semestre/Metodi di Ottimizzazione di Big Data/ProgettoMobd Giavomo/progetti/Progetto MOBD/Progetto_Finale/best_classificatore.sav
./Primo Anno/Secondo Semestre/Metodi di Ottimizzazione di Big Data/ProgettoMobd Giavomo/progetti.rar
./Primo Anno/Secondo Semestre/Ottimizzazione nei Sistemi di Controllo/OSC1/EserciziEsameVideo/HJB.mp4
./Primo Anno/Secondo Semestre/Ottimizzazione nei Sistemi di Controllo/OSC1/EserciziEsameVideo/LQ_A_TEMPODISCRETO.mp4
./Primo Anno/Secondo Semestre/Ottimizzazione nei Sistemi di Controllo/OSC1/EserciziEsameVideo/RL-TD.mp4
./Primo Anno/Secondo Semestre/Ottimizzazione nei Sistemi di Controllo/OSC1/EserciziEsameVideo/SISTEMA HAMILTONIANO.mp4
./Primo Anno/Secondo Semestre/Ottimizzazione nei Sistemi di Controllo/OSC1/Lezione/Slide+Audio/Lezione 15 parte 1/lezione15_parte1.mp3
./Primo Anno/Secondo Semestre/Ottimizzazione nei Sistemi di Controllo/OSC1/Lezione/Slide+Audio/Lezione 15 parte 2/lezione15_parte2.mp3
./Secondo Anno/Teoria Dei Giochi/PDFTENNIROB.pdf
./.git/objects/d1/5feeb0fb546dfdf709dd8dde8fde3fbbfeea9b
./Destreamer/chromium/win64-722234/chrome-win/chrome.dll
./Destreamer/chromium/win64-722234/chrome-win/interactive_ui_tests.exe
./Destreamer/videos/Piccialli/Lezione mercoledì - 31-03-2021.mkv
./Destreamer/videos/Sassano/lezione OSC1 mercoledì-20210414_140323-Meeting Recording (1).mp4
./Primo Anno/Primo semestre/Controllo robusto e adattivo/Appunti Giorgo/CRA.rar
./Primo Anno/Primo semestre/Controllo robusto e adattivo/OneDrive_1_21-9-2021.zip
./Primo Anno/Secondo Semestre/Machine and reinforcemente Learning/Assgnment/Progetto Finale/Papers/TeXmacs-1.99.20-installer.exe
./Primo Anno/Secondo Semestre/Metodi di Ottimizzazione di Big Data/Progetto MOBD 2020-2021/Progetto MOBD/bestClassifier.sav
./Primo Anno/Secondo Semestre/Metodi di Ottimizzazione di Big Data/Progetto MOBD 2020-2021/Progetto MOBD/CeciliaTroia.zip
./Primo Anno/Secondo Semestre/Metodi di Ottimizzazione di Big Data/ProgettoFinale/bestClassifier.sav
./Primo Anno/Secondo Semestre/Metodi di Ottimizzazione di Big Data/ProgettoMobd Giavomo/JupiterLab/final_Project/nuova_prova/best_pipeline2.sav
./Primo Anno/Secondo Semestre/Metodi di Ottimizzazione di Big Data/ProgettoMobd Giavomo/JupiterLab/final_Project/nuova_prova/Progetto_Finale/best_classificatore.sav
./Primo Anno/Secondo Semestre/Metodi di Ottimizzazione di Big Data/ProgettoMobd Giavomo/JupiterLab.rar
./Primo Anno/Secondo Semestre/Metodi di Ottimizzazione di Big Data/ProgettoMobd Giavomo/progetti/Progetto/Progetto_Finale/best_classificatore.sav
./Primo Anno/Secondo Semestre/Metodi di Ottimizzazione di Big Data/ProgettoMobd Giavomo/progetti/Progetto MOBD/Progetto_Finale/best_classificatore.sav
./Primo Anno/Secondo Semestre/Metodi di Ottimizzazione di Big Data/ProgettoMobd Giavomo/progetti.rar
./Primo Anno/Secondo Semestre/Ottimizzazione nei Sistemi di Controllo/OSC1/EserciziEsameVideo/HJB.mp4
./Primo Anno/Secondo Semestre/Ottimizzazione nei Sistemi di Controllo/OSC1/EserciziEsameVideo/LQ_A_TEMPODISCRETO.mp4
./Primo Anno/Secondo Semestre/Ottimizzazione nei Sistemi di Controllo/OSC1/EserciziEsameVideo/RL-TD.mp4
./Primo Anno/Secondo Semestre/Ottimizzazione nei Sistemi di Controllo/OSC1/EserciziEsameVideo/SISTEMA HAMILTONIANO.mp4
./Primo Anno/Secondo Semestre/Ottimizzazione nei Sistemi di Controllo/OSC1/Lezione/Slide+Audio/Lezione 15 parte 1/lezione15_parte1.mp3
./Primo Anno/Secondo Semestre/Ottimizzazione nei Sistemi di Controllo/OSC1/Lezione/Slide+Audio/Lezione 15 parte 2/lezione15_parte2.mp3
./Secondo Anno/Teoria Dei Giochi/PDFTENNIROB.pdf
Destreamer/.token_cache
Destreamer/chromium/win64-722234/chrome-win/80.0.3987.0.manifest
Destreamer/chromium/win64-722234/chrome-win/chrome.dll
Destreamer/chromium/win64-722234/chrome-win/chrome_100_percent.pak
Destreamer/chromium/win64-722234/chrome-win/chrome_200_percent.pak
Destreamer/chromium/win64-722234/chrome-win/chrome_elf.dll
Destreamer/chromium/win64-722234/chrome-win/chrome_watcher.dll
Destreamer/chromium/win64-722234/chrome-win/D3DCompiler_47.dll
Destreamer/chromium/win64-722234/chrome-win/eventlog_provider.dll
Destreamer/chromium/win64-722234/chrome-win/First Run
Destreamer/chromium/win64-722234/chrome-win/icudtl.dat
Destreamer/chromium/win64-722234/chrome-win/libEGL.dll
Destreamer/chromium/win64-722234/chrome-win/libGLESv2.dll
Destreamer/chromium/win64-722234/chrome-win/locales/ar.pak
Destreamer/chromium/win64-722234/chrome-win/locales/bg.pak
Destreamer/chromium/win64-722234/chrome-win/locales/bn.pak
Destreamer/chromium/win64-722234/chrome-win/locales/ca.pak
Destreamer/chromium/win64-722234/chrome-win/locales/cs.pak
Destreamer/chromium/win64-722234/chrome-win/locales/da.pak
Destreamer/chromium/win64-722234/chrome-win/locales/de.pak
Destreamer/chromium/win64-722234/chrome-win/locales/el.pak
Destreamer/chromium/win64-722234/chrome-win/locales/en-GB.pak
Destreamer/chromium/win64-722234/chrome-win/locales/en-US.pak
Destreamer/chromium/win64-722234/chrome-win/locales/es-419.pak
Destreamer/chromium/win64-722234/chrome-win/locales/es.pak
Destreamer/chromium/win64-722234/chrome-win/locales/et.pak
Destreamer/chromium/win64-722234/chrome-win/locales/fi.pak
Destreamer/chromium/win64-722234/chrome-win/locales/fil.pak
Destreamer/chromium/win64-722234/chrome-win/locales/fr.pak
Destreamer/chromium/win64-722234/chrome-win/locales/gu.pak
Destreamer/chromium/win64-722234/chrome-win/locales/he.pak
Destreamer/chromium/win64-722234/chrome-win/locales/hi.pak
Destreamer/chromium/win64-722234/chrome-win/locales/hr.pak
Destreamer/chromium/win64-722234/chrome-win/locales/hu.pak
Destreamer/chromium/win64-722234/chrome-win/locales/id.pak
Destreamer/chromium/win64-722234/chrome-win/locales/it.pak
Destreamer/chromium/win64-722234/chrome-win/locales/ja.pak
Destreamer/chromium/win64-722234/chrome-win/locales/kn.pak
Destreamer/chromium/win64-722234/chrome-win/locales/ko.pak
Destreamer/chromium/win64-722234/chrome-win/locales/lt.pak
Destreamer/chromium/win64-722234/chrome-win/locales/lv.pak
Destreamer/chromium/win64-722234/chrome-win/locales/ml.pak
Destreamer/chromium/win64-722234/chrome-win/locales/mr.pak
Destreamer/chromium/win64-722234/chrome-win/locales/ms.pak
Destreamer/chromium/win64-722234/chrome-win/locales/nb.pak
Destreamer/chromium/win64-722234/chrome-win/locales/nl.pak
Destreamer/chromium/win64-722234/chrome-win/locales/pl.pak
Destreamer/chromium/win64-722234/chrome-win/locales/pt-BR.pak
Destreamer/chromium/win64-722234/chrome-win/locales/pt-PT.pak
Destreamer/chromium/win64-722234/chrome-win/locales/ro.pak
Destreamer/chromium/win64-722234/chrome-win/locales/ru.pak
Destreamer/chromium/win64-722234/chrome-win/locales/sk.pak
Destreamer/chromium/win64-722234/chrome-win/locales/sl.pak
Destreamer/chromium/win64-722234/chrome-win/locales/sr.pak
Destreamer/chromium/win64-722234/chrome-win/locales/sv.pak
Destreamer/chromium/win64-722234/chrome-win/locales/ta.pak
Destreamer/chromium/win64-722234/chrome-win/locales/te.pak
Destreamer/chromium/win64-722234/chrome-win/locales/th.pak
Destreamer/chromium/win64-722234/chrome-win/locales/tr.pak
Destreamer/chromium/win64-722234/chrome-win/locales/uk.pak
Destreamer/chromium/win64-722234/chrome-win/locales/vi.pak
Destreamer/chromium/win64-722234/chrome-win/locales/zh-CN.pak
Destreamer/chromium/win64-722234/chrome-win/locales/zh-TW.pak
Destreamer/chromium/win64-722234/chrome-win/MEIPreload/manifest.json
Destreamer/chromium/win64-722234/chrome-win/MEIPreload/preloaded_data.pb
Destreamer/chromium/win64-722234/chrome-win/nacl_irt_x86_64.nexe
Destreamer/chromium/win64-722234/chrome-win/resources.pak
Destreamer/chromium/win64-722234/chrome-win/swiftshader/libEGL.dll
Destreamer/chromium/win64-722234/chrome-win/swiftshader/libGLESv2.dll
Destreamer/chromium/win64-722234/chrome-win/v8_context_snapshot.bin
Destreamer/videos/Piccialli/Lezione mercoledì - 31-03-2021.mkv
Destreamer/Istruzioni Destreamer.txt
Secondo Anno/Teoria Dei Giochi/PDFTENNIROB.pdf
Secondo Anno/Teoria Dei Giochi/PDFTENNIROB_OPTIM.pdf
Secondo Anno/Teoria Dei Giochi/Appunti/Teoria dei Giochi/main.pdf
*.aux
*.fdb_latexmk
*.gz
*.log
.history/Secondo Anno/Teoria Dei Giochi/Appunti/Teoria dei Giochi/main_20211207005240.tex
